USE [master]
GO
/****** Object:  Database [IznajmljivanjeStanova]    Script Date: 10/18/2025 7:54:56 PM ******/
CREATE DATABASE [IznajmljivanjeStanova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IznajmljivanjeStanova', FILENAME = N'C:\Users\Kovac\IznajmljivanjeStanova.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IznajmljivanjeStanova_log', FILENAME = N'C:\Users\Kovac\IznajmljivanjeStanova_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IznajmljivanjeStanova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IznajmljivanjeStanova]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[idMesto] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[idMesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stan]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stan](
	[idStan] [int] IDENTITY(1,1) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Povrsina] [int] NOT NULL,
	[TipStana] [nvarchar](50) NOT NULL,
	[BrojSoba] [float] NOT NULL,
 CONSTRAINT [PK_Stan] PRIMARY KEY CLUSTERED 
(
	[idStan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanodavac]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanodavac](
	[idStanodavac] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Stanodavac] PRIMARY KEY CLUSTERED 
(
	[idStanodavac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[idStanodavac] [int] NOT NULL,
	[idTerminIz] [int] NOT NULL,
	[OpisStatusa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[idStanodavac] ASC,
	[idTerminIz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaUgovora]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaUgovora](
	[idUgovor] [int] NOT NULL,
	[rb] [int] NOT NULL,
	[idStan] [int] NOT NULL,
	[Iznos] [float] NOT NULL,
 CONSTRAINT [PK_StavkaUgovora] PRIMARY KEY CLUSTERED 
(
	[idUgovor] ASC,
	[rb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminIznajmljivanja]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminIznajmljivanja](
	[idTerminIz] [int] IDENTITY(1,1) NOT NULL,
	[DatumOd] [date] NOT NULL,
	[DatumDo] [date] NOT NULL,
 CONSTRAINT [PK_TerminIznajmljivanja] PRIMARY KEY CLUSTERED 
(
	[idTerminIz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ugovor]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ugovor](
	[idUgovor] [int] IDENTITY(1,1) NOT NULL,
	[DatumOd] [date] NOT NULL,
	[DatumDo] [date] NOT NULL,
	[idStanodavac] [int] NOT NULL,
	[idZakupac] [int] NOT NULL,
 CONSTRAINT [PK_Ugovor] PRIMARY KEY CLUSTERED 
(
	[idUgovor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakupac]    Script Date: 10/18/2025 7:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakupac](
	[idZakupac] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[idMesto] [int] NOT NULL,
 CONSTRAINT [PK_Zakupac] PRIMARY KEY CLUSTERED 
(
	[idZakupac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_Status_Stanodavac] FOREIGN KEY([idStanodavac])
REFERENCES [dbo].[Stanodavac] ([idStanodavac])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_Status_Stanodavac]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_Status_TerminIznajmljivanja] FOREIGN KEY([idTerminIz])
REFERENCES [dbo].[TerminIznajmljivanja] ([idTerminIz])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_Status_TerminIznajmljivanja]
GO
ALTER TABLE [dbo].[StavkaUgovora]  WITH CHECK ADD  CONSTRAINT [FK_StavkaUgovora_Stan] FOREIGN KEY([idStan])
REFERENCES [dbo].[Stan] ([idStan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaUgovora] CHECK CONSTRAINT [FK_StavkaUgovora_Stan]
GO
ALTER TABLE [dbo].[StavkaUgovora]  WITH CHECK ADD  CONSTRAINT [FK_StavkaUgovora_Ugovor] FOREIGN KEY([idUgovor])
REFERENCES [dbo].[Ugovor] ([idUgovor])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaUgovora] CHECK CONSTRAINT [FK_StavkaUgovora_Ugovor]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Stanodavac] FOREIGN KEY([idStanodavac])
REFERENCES [dbo].[Stanodavac] ([idStanodavac])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Stanodavac]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Zakupac] FOREIGN KEY([idZakupac])
REFERENCES [dbo].[Zakupac] ([idZakupac])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Zakupac]
GO
ALTER TABLE [dbo].[Zakupac]  WITH CHECK ADD  CONSTRAINT [FK_Zakupac_Mesto] FOREIGN KEY([idMesto])
REFERENCES [dbo].[Mesto] ([idMesto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Zakupac] CHECK CONSTRAINT [FK_Zakupac_Mesto]
GO
USE [master]
GO
